body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#wrapper {
    max-width: 800px;
    margin: auto;
}

.qwe {
    float: left;
}

.mainp {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px;
}

#contacts p {
    margin: 0 0 2px 20px;
}

#objective {
    clear: both;
}

.main {
    font-size: 23px;
    text-align: center;
    font-weight: 800;
    padding: 10px 0;
}

.bolder {
    font-weight: 900;
}

#skills ul li {
    margin-left: 20px;
}

#wrapper {
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    width: 100%;
    display: block;
}

#qwerty {
    width: 50%;
    float: left;
}

#header #qwerty img {
    display: inline-block;
    margin: 0 25% 1% 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contacts {
    width: 49%;
    float: left;
    display: inline-block;
}
