body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
table {
	max-width:800px;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 0 20px;
}
.main {
	font-size: 23px;
	text-align: center;
	font-weight:800;
	padding: 10px 0;
}
.mainp{
	font-weight: bold;
	text-transform: uppercase;
	margin:10px 0px;
}

.bolder {
	font-weight: 900;
}

.qwe  {
	padding: 50px 0 0 0;
}
